.hero-section {
    position: relative;
    height: 100vh;
    background-image: url('../assets/images/hero-image.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

/* Style for the content on top of the hero image */
.hero-content {
    z-index: 1;
    position: absolute;
    bottom: 86px;
    padding: 80px;
    line-height: 47px;

}

.hero-button {
    color: white;
    background-color: #70259B;
}