@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


/* MAIN */
:root {
  --primary-color: #70259B;
  --primary-dark-color: #430964;
  --white-shade-color: #FAFAFA;
  --black-shade-color: #242424;
  /* Add more colors as needed */
}

.main {
  background-color: white;
}