/* Styling for Case studies */

.case-study-card {
    position: relative;
    margin: 0px 20px;
}

.card-img-top {
    object-fit: cover;
    width: 399px;
    height: 399px;
}

.card-img-title {
    font-size: 32px;
}

.case-study-card-text {
    font-size: 16px;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
}

/* for responsiveness with media with a maximum with of 720px */
@media (max-width: 720px) {
    .card-img-title {
        font-size: 28px;
    }

    .case-study-card-text {
        font-size: 18px;
    }

    .line {
        width: 20px;
        height: 2px;
        flex-shrink: 0;
        background-color: var(--primary-color);
        flex-direction: column;
    }

    .card-text {
        padding: 20px;

    }
}