/* Footer styling */

.footer {
    padding: 50px;
    background-color: var(--primary-dark-color);
    background-position: top;
    background-size: cover;
    position: relative;
}

.footer-heading-text {
    font-size: 20px;
    font-weight: 400;
}

.footer-offer-line {
    font-size: 40px;
    font-weight: 700;
    padding: 40px 0px;
}

.footer-address {
    font-size: 20px;
}

ul {
    list-style: none;
    font-size: 20px;
    color: white;
}

@media (max-width: 720px) {
    .footer-heading-text {
        font-size: 10px;
    }

    .footer-offer-line {
        font-size: 20px;
    }

    ul {
        font-size: 10px;
    }

    .footer-address {
        font-size: 10px;
    }
}