.hero-section {
    position: relative;
    height: 100vh;
    background-image: url('../images/hero-image.png');
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
}

/* Style for the content on top of the hero image */
.hero-content {
    z-index: 1;
    position: absolute;
    bottom: 86px;
    padding: 80px;
    line-height: 47px;
}

.hero-title {
    font-size: 48px;
    font-weight: 700;
}

.hero-description {
    font-size: 20px;
    font-weight: 400;
    max-width: 574px;
    line-height: 150%;
}

.hero-button {
    background-color: var(--primary-color);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 127px;
    max-height: 41px;
    font-weight: bold;
    color: white;
}