/* #navbar {
    font-family: Roboto, sans-serif;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    transition: all 0.5s ease;
} */

.navbar {
    background-size: cover;
    background-color: var(--primary-color);
    /* height: 80px; */
    flex-shrink: 0;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: grey;
}

.nav-button {
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 96px;
    max-height: 37px;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
}