/* Navigation bar styling */

.navbar {
    background-size: cover;
    background-color: var(--primary-color);
    flex-shrink: 0;
}

.nav-link {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.nav-link:hover {
    color: grey;
}

.nav-button {
    background-color: white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 96px;
    max-height: 37px;
    font-weight: bold;
    font-size: 14px;
    padding: 16px;
}